/*====================================
=            Upper Footer            =
====================================*/

/* Hide Footer on Contact Page */

.contact-us .upper-footer {
	display: none;
}


.footer-latest-news {
	border-bottom: 1px solid rgba($lightColor, 0.2);
	margin: 0 auto;
	max-width: 1150px;
	// margin-bottom: 40px;
	padding-bottom: 20px;
	@include media($tablet) {
		padding-bottom: 40px;
		text-align: left;
		display: flex;
		align-items: center;
		display: none;
	}
	ul {
		display: inline-block;
		list-style: none;
		@include media($tablet) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		li {
			text-align: left;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 40px;
			@include media($tablet) {
				width: 30%;
				margin-bottom: 0;
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			img {
				float: left;
				margin-right: 10px;
				margin-top: 5px;
				margin-bottom: 10px;
			}
		}
	}
}



.upper-footer {
	background: $secondaryColor url("images/bg-footer.jpg") center center
		no-repeat;
	padding-top: 80px;
	padding-bottom: 40px;
	background-size: cover;

	@include media($tablet) {
		padding-top: 200px;
		padding-bottom: 130px;

		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;

		> div {
			width: 47%;
			text-align: left;
			// text-align: left !important;
		}
	}
	@include media($desktop) {
		background-attachment: fixed;
	display: none;

	}

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	@include media(1800px) {
		background-size: cover;
	}

	.footer-contact-form {
		// @include media($tablet) {
		// min-width: 500px;
		// }
	}

	form {
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 40px;
		margin-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media($tablet) {
			margin-bottom: 0px;
		}
		input,
		textarea {
			color: $lightColor !important;
			background: rgba(#f0f0f0, 0.2) !important;
			border: rgba(#fff, 0.3) !important;
		}
		.type-singlelinetext {
			width: 48%;
		}
		.type-textarea,
		.type-submitbutton {
			width: 100%;
		}
		.disclaimer {
$lightColor: $darkColor;
			margin-bottom: 20px;
			padding: 0 0px;
		}
		.type-textarea {
			margin-bottom: 0 !important;
		}
		.robotic {
			position: absolute;
		}
		.type-checkbox {
			display: flex;
			align-items: center;
			input {
				position: relative;
				top: -5px;
				width: 10px;
				// float: left;
			}
			label {
				padding-left: 10px;
				line-height: 18px;
				// float: left;
				// text-align: $ef4lightColor;
				color: $darkColor;
			}
		}
		.type-submitbutton {
			position: relative;
			.submit-btn {
				background: $primaryColor !important;
				// padding-right: 90px;
				// padding-left: 60px;
				&:hover {
					background: $secondaryColor !important;
				}
			}
		}
	}

	#sf-message-1154 {
$lightColor: $darkColor;
		border: 1px solid $lightColor;
		margin: 0 auto;
		padding: 40px;
		margin-top: 45px;
		// margin-bottom: 140px;
		// max-width: 700px;
	}

	span {
		// margin-left: 0;
		font-size: 50px;
		line-height: 40px;
		font-family: $secondaryFont;
		color: $primaryColor;
		text-align: left;
	}

	.the-loc {
		text-align: left;
		margin-top: 20px;
$lightColor: $darkColor;
		// align-items: center;
		@include media($tablet) {
			min-width: 475px;
			display: flex;
			justify-content: flex-start;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.footer-map-icon {
		position: relative;
		width: 100%;
		// height: 200px;
		min-height: 220px;
		background-position: top center;
		background-repeat: no-repeat;
		@include media($tablet) {
			width: auto;
			min-width: 48%;
			margin-top: 153px;
		}
		img {
			display: none;
			// width: 100%;
			@include media($tablet) {
			}
		}
		a {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	@include media($tablet) {
		.loc-addy {
			display: inline-block;
			margin-left: 35px;
			padding-left: 35px;
			border-left: 1px solid rgba($lightColor, 0.2);
		}
	}
}

/*====================================
=            Lower Footer            =
====================================*/

.lower-footer {
	text-align: left;
	// border: 1px solid black;
	background-color: $lightColor;
	color: $darkColor;
	padding-top: 60px !important;
	padding-bottom: 40px !important;
	@include media($tablet) {
		padding-bottom: 100px !important;
		padding-top: 100px !important;
	}
}

.footer-buttons {
	a {
		color: #6e7659;
		font-family: $secondaryFont;
		text-decoration: none;
		font-size: 27px;
		&:first-of-type {
			margin-right: 15px;
		}
	}
}


.footer-logos {
	@include media($desktop) {
		float: right;
		width: 500px;
		margin-top: -140px;
	}
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		// border: 1px solid black;
	}
	li {
		// border: 1px solid black;
		img {
			width: 100%;
			@include media($tablet) {
				width: auto;
			}
		}
	}
}

.model-disc {
	font-size: 12px;
	line-height: 16px;
	// margin: 0 auto;
	max-width: 600px;
	margin-top: 30px;
	text-align: center;
	@include media($tablet) {
		text-align: left;
	}
}

.copyright,
.rm-sig {
	font-family: $primaryFont;
	text-align: center;
	// font-size: $5px4lightColor
	color: $darkColor;
	@include media($desktop) {
		text-align: left;
	}
	a {
		color: $darkColor;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

.rm-sig svg {
	position: relative;
	top: 4px;
	left: 2px;
	width: 33px;
	height: 14px;

	@include media($desktop) {
		top: 4px;
		left: 2px;
	}
	path {
		fill: $darkColor;
		transition: all 0.1s ease-in;
	}
	&:hover {
		path {
			fill: $secondaryAlt;
		}
	}
}
