// header,
// .welcome,
// footer,
// .home-doctor,
aside,
.home-doctor-quote,
.home-patients,
.home-reviews,
.home-featured-procedures,
.home-primary-rhinoplasty {
	display: none !important;
}

.home h2 {
	margin: 0;
	font-family: $secondaryFont;
	font-size: 26px;
	@include media($tablet) {
		font-size: 40px;
		line-height: 45px;
	}
	@include media($desktop) {
		font-size: 50px;
		line-height: 55px;
	}
}



/*===============================================
=            Welcome to my Website!             =
===============================================*/

.welcome-parallax {
	@include media($desktop) {
		background: $secondaryColor url("images/bg-welcome.jpg") center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.welcome {
	background: #f8f8e2 url("images/bg-welcome.jpg") top right no-repeat;
	background-size: 600px auto;
	background-position-y: 175px; 
	z-index: 1000;
	height: 500px;
	@include media(500px) {
		background-size: 750px auto;
	}
	@include media($tablet) {
		padding-top: 0;
		background: #f8f8e2 url("images/bg-welcome.jpg") top center no-repeat;
		background-size: 138% auto;
		height: 550px;
		max-height: none;
	}

	@include media($desktop) {
		background: none;
		height: 100vh;
		min-height: 768px;
	}
}

.welcome .welcome-cta {
	text-align: left;
	@include media($tablet) {
		max-width: 450px;
		background: none;
		padding-top: 170px;
		padding-left: 50px;
	}
	@include media($desktop) {
		max-width: none;
		padding-top: 35vh;
		padding-left: 15vw;
	}
	a {
		color: $darkColor;
		text-decoration: none;
	}
	.home-logo {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 310px;
		background: $lightColor;
		@include media($tablet) {
			padding: 0;
			margin-bottom: 0;
			background: transparent;
		}
		h1 {margin: 0 auto;}

		img {
			width: 80%;
			// margin: 0 auto;
			max-width: 300px;
			min-height: 130px;
			@include media($desktop) {
				min-height: none;
				max-width: none;
				width: auto;
			}
		}
	}
	.home-addy {
		margin-top: 50px;
		margin-bottom: 25px;
		display: none;
		@include media($tablet) {
			display: block;
		}
	}
	.button {
		width: 100%;
		position: relative;
		border-radius: 0;
		@include media($tablet) {
			border-radius: 4px;
			max-width: 425px;
			margin: 0;
		}
		&:after {
			content: '';
			position: absolute;
			left: calc(50% + 100px;);
			top: 12px;
			background-image: url('images/icon-schedule.png');
			background-size: 30px 29px;
			width: 30px;
			height: 29px;
			z-index: 1;
			@include media($tablet) {
				left: 310px;
				
			}
		}
		&:hover {
			background-color: $primaryColor;
		}
	}
}


/*===================================
=            home-doctor            =
===================================*/

.home-doctor {
	background: #d8e1bf;
	position: relative;
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;

	@include media($tablet) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	@include media($desktop) {
		background: url("images/bg-doctor.jpg") center left no-repeat;
		background-size: cover;
		// height: 900px;
		padding-top: 115px;
		padding-bottom: 150px;
		padding-left: 40%;
	}
	h2 {
		margin-bottom: 40px;
		@include media($desktop) {
			max-width: 550px;
			font-size: 45px;
			line-height: 45px;
		}
	}
	.doc-content {
		@include media($desktop) {
			max-width: 650px;
		}
		img {
			display: block;
			float: left; 
			margin-right: 20px;
			margin-bottom: 10px;
			width: 150px;
			@include media($tablet) {
				width: auto;
				margin-right: 40px;
				margin-bottom: 40px;
			}
			@include media($desktop) {
				display: none;
			}
		}
	}
	.button {
		margin: 0 auto;
		text-align: center;
		display: block;
		max-width: 230px;
		padding-right: 40px;
		margin-top: 30px;
		@include media($desktop) {
			margin: 0;
			margin-top: 30px;
		}
		&:after {
			content: '';
			position: absolute;
			left: calc(50% + 75px;);
			top: 14px;
			background-image: url('images/icon-bio.png');
			background-size: 18px 24px;
			width: 18px;
			height: 24px;
			z-index: 1;
		}
		&:hover {
			background: $primaryColor !important;
			color: $lightColor !important;
		}
	}
	ul {
		list-style: none;
		display: flex;
		@include media($tablet) {
			margin-top: 60px;
			width: 100%;
			justify-content: center;
		}
		border: 1px solid red;
		@include media($desktop) {
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 0px;
			position: absolute;
			right: 50px;
			top: 120px;
			width:175px;
			height: 400px;
		}
		li {
			border: 1px solid red;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// margin-bottom: 20px;
		}
	}
}

/*=========================================
=            home-doctor-quote            =
=========================================*/

.home-doctor-quote {
	padding-top: 80px;
	padding-bottom: 40px;
	background: $primaryColor;
	@include media($tablet) {
		padding-top: 100px;
		padding-bottom: 60px;
	}
	> div {
		font-family: $highlightFont;
		font-size: 16px;
		line-height: 26px;
		font-style: italic;
		position: relative;
		color: $lightColor;
		font-weight: normal;
		@include media($tablet) {
			font-size: 24px;
			line-height: 38px;
		}
		strong {
			font-size: 22px;
			font-weight: normal;
			font-style: normal;
			@include media($tablet) {
				font-size: 32px;
			}
		}
		&:before {
			content: "";
			background: url("images/icon-quote.png");
			background-size: 101px 80px;
			background-repeat: no-repeat;
			width: 101px;
			height: 80px;
			position: absolute;
			top: -40px;
			left: calc(50% - 50px);
		}
	}
}

/*=====================================
=            home-patients            =
=====================================*/

.home-patients {
	background: #e6edf2 url("images/bg-patient.jpg") top left no-repeat;
	background-size: 920px auto;
	background-position-x: -100px;
	padding-top: 320px;
	padding-bottom: 40px;
	@include media($tablet) {
		background: #e6edf2 url("images/bg-patient.jpg") top center no-repeat;
		background-size: 1220px auto;
		padding-top: 60px;
		min-height: 1000px;
		padding-bottom: 140px;
	}
	@include media($desktop) {
		background: #e6edf2 url("images/bg-patient.jpg") top center no-repeat;
		padding-top: 150px;
	}
	@include media($full) {
		background-size: cover;
	}

	.home-patients-content {
		text-align: left;
		@include media($tablet) {
			padding-left: 53%;
		}
		@include media($tablet) {
			color: $lightColor;
			h2 {
				border-bottom: 1px solid rgba($lightColor, 0.3);
				color: $lightColor;
			}
		}
		.button {
			@include media($tablet) {
				margin-top: 10px;
			}
		}
	}

	.actual-patient-tab {
		font-family: $highlightFont;
		color: $darkColor;
		padding: 5px 0px;
		text-align: center;
		background: $lightColor;
		display: inline-block;
		margin-bottom: 20px;
		border-radius: 5px;
		font-style: italic;
		position: relative;
		width: 130px;

		&:before {
			content: "";
			position: absolute;
			top: -5px;
			left: calc(50% - 5px;);
			background: $lightColor;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			@include media($tablet) {
				left: -5px;
				top: calc(50% - 5px;);
			}
		}
	}
	.cases {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		@include media($tablet) {
			justify-content: space-around;
		}
		@include media($desktop) {
			justify-content: space-between;
		}
		> div {
			&:nth-of-type(1) {
				display: inline-block;
			}
			&:nth-of-type(2) {
				display: none;
			}
			&:nth-of-type(3) {
				display: none;
			}
			@include media($tablet) {
				&:nth-of-type(2) {
					display: inline-block;
				}
			}
			@include media($desktop) {
				&:nth-of-type(3) {
					display: inline-block;
				}
			}
		}
	}
	span {
		font-style: italic;
		font-size: 12px;
	}
	.twentytwenty-container {
		margin-top: 40px;
		margin-bottom: 20px;
		width: 300px;
		height: 530px;
		@include media($tablet) {
			margin-top: 140px;
			margin-bottom: 20px;
			width: 350px;
		}
		img {
			width: 100%;
		}
	}
	.last-button {
		margin-top: 20px;
		@include media($tablet) {
			margin-top: 40px;
		}
	}
}

/*====================================
=            home-reviews            =
====================================*/

.home-reviews {
	display: none;
	background-color: $primaryColor;
	color: $lightColor;
	position: relative;
	@include media($tablet) {
		padding-top: 120px;
		padding-bottom: 80px;
		display: block;
	}
	.split-line {
		position: absolute;
		left: calc(50% - 1px);
		width: 1px;
		height: 340px;
		background-color: rgba($lightColor, 0.5);
	}
	ul {
		margin: 0;
		display: flex;
		justify-content: space-between;
		list-style: none;
		li {
			width: 44%;
			font-family: $highlightFont;
			font-size: 24px;
			line-height: 38px;
			font-style: italic;
			position: relative;
			&:before {
				content: "";
				background: url("images/icon-quote.png");
				background-size: 101px 80px;
				width: 101px;
				height: 80px;
				position: absolute;
				top: -40px;
				left: calc(50% - 50px);
			}
		}
	}
	.button {
		background: $lightColor;
		color: $primaryColor !important;
	}
	.fa-google {
		color: #b73c16;
		display: block;
		margin-bottom: 10px;
		font-size: 25px;
	}
	.fa-star {
		color: #fcc55c;
		font-size: 19px;
	}
	span {
		font-style: normal;
		font-size: 32px;
	}
}

/*================================================
=            home-featured-procedures            =
================================================*/

.home-featured-procedures {
	background: $darkColor;
	ul {
		margin: 0;
		color: $lightColor;
		list-style: none;
		@include media($desktop) {
			display: flex;
			justify-content: center;
		}
	}
	li {
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 200px;
		padding-bottom: 40px;
		transition: all .35s ease-in-out;
			// transition: all .2s ease-in-out;

			@include media($tablet) {
				padding-left: 40px;
				padding-right: 40px;
				padding-top: 300px;
				padding-bottom: 80px;
			}
			@include media($desktop) {
				padding-bottom: 80px;
				padding-top: 340px;
			}
			.feat-content p {
				max-width: 350px;
				margin: 0 auto;
				margin-bottom: 20px;
			}
			position: relative;
			.feat-overlay {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				position: absolute;
			// z-index: 8999;
			// transition: all .2s ease-in-out;
			transition: all .35s ease-in-out;

			background: transparent;
		}
		&:hover {
			// padding-bottom: 100px;
			@include media($desktop) {
				padding-top: 320px;
				
			}
			.feat-overlay {
				background: rgba( #000, .3);
			}
		}
	}
	span {
		font-family: $secondaryFont;
		font-size: 30px;
		line-height: 32px;
		display: block;
		margin-bottom: 10px;
		@include media($tablet) {
			font-size: 35px;
			line-height: 37px;
		}
	}
}

/*=================================================
=            .home-primary-rhinoplasty            =
=================================================*/

.home-primary-rhinoplasty {
	background: $primaryHighlight url("images/bg-home-primary.jpg") top center
	no-repeat;
	background-size: 150vw auto;
	// background-position-x: -500px;
	padding-top: 65vw;
	padding-bottom: 40px;
	text-align: left;
	@include media($tablet) {
		background: $primaryHighlight url("images/bg-home-primary.jpg") center
		center no-repeat;
		background-size: cover;
		padding-top: 100px;
		padding-bottom: 190px;
		padding-right: 50%;
	}
	@include media($desktop) {
		background-attachment: fixed;
		padding-top: 200px;
		padding-bottom: 190px;
	}
	// @include media(1800px) {
	// }
	// ul {
	// 	margin-top: 30px;
	// 	padding-bottom: 20px;
	// 	list-style: none;
	// 	li {
	// 		float: left;
	// 		&:last-of-type {
	// 			margin-left: 20px;
	// 		}
	// 	}
	// }
}
