/* Naviagation bar */

.nav-bar {
	z-index: 9998;
	position: relative;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background: rgba($primaryColor, 1);
	height: 50px;
	display: flex;
	@include media($tablet) {
	}
	@include media($desktop) {
		padding-right: 20px;
		padding-left: 20px;
		height: 60px;
		top: 0px;
		background: rgba($primaryColor, 0.8);
	}
}

.menu-trigger {
	@include media($desktop) {
		display: none;
	}
	width: 32px;
	height: 100%;
	position: relative;
	left: 20px;
	padding-top: 12px;
	// border: 1px solid white;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// flex-direction: row;
	// flex-wrap: wrap;
	// padding-right: 20px;
	height: 100%;
	@include media($desktop) {
		display: none;
	}
	.hamburger {
		margin-top: 8px;
		display: block;
		position: relative;
		width: 100%;
		height: 2px;
		background: $lightColor;
		margin-bottom: 1px;
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}

.nav-bar-extras {
	height: 100%;
	right: 0px;
	width: auto;
	position: absolute;
	display:flex;
	flex-wrap: nowrap;
	align-items: center;
	a {
		text-decoration: none;
		display: inline-block;
		height: 100%;
	}
	.head-address {
		width: 60px;
		margin-right: 5px;
		background:  rgba($primaryColor, .8); 
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			font-size: 25px;
		}
	}
	.head-phone {
		background:  rgba($primaryColor, .8); 

		padding: 0 20px 0 20px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center; 
		font-size: 18px;
		i {
			font-size: 25px;
			margin-right: 10px;
		}
	}
}


/* Inside Page Headers */

.int-header {
	background-color: $secondaryAlt;
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	margin-top: 160px;

	@include media($tablet) {
		margin-top: 0;
		height: 500px;
	}
	@include media($desktop) {

	}
	@include media($full) {
		height: 600px;
	}
}

.inside-header-logo {
	width: calc( 100% + 40px );
	position: relative;
	left: -20px;
	top: -110px;
	background-color: $secondaryAlt;
	@include media($tablet) {
		top: 0;
		float: left;
		background: transparent !important;
		width: auto;
		margin-top: 200px;
	}
	img {
		width: 200px;
		margin-top: 10px;
		margin-bottom: 15px;
		@include media($tablet) {
			width: 300px;
		}
		@include media($desktop) {
			width: auto;
		}
	}
}

