/* Naviagation bar */

.nav-bar {
	z-index: 9998;
	position: relative;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	background: rgba($primaryColor, 0.8);
	// border-top: 5px solid $primaryAlt;
	height: 60px;
	// display: flex;
	// align-items: center;
	// justify-content: flex-end;
	// box-shadow: 1px 1px 5px rgba($darkColor, 0.2);
	@include media($tablet) {
		// height: 100px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.menu-trigger {
	width: 30px;
	height: 20px;
	position: relative;
	.hamburger {
		position: absolute;
		width: 25px;
		height: 2px;
		background: $primaryAlt;
		display: block;
		left: 0;
		&:nth-of-type(1) {
			height: 2px;
			top: 2px;
		}
		&:nth-of-type(2) {
			height: 2px;
			top: 7px;
			width: 18px;
		}
		&:nth-of-type(3) {
			height: 2px;
			top: 13px;
			width: 10px;
		}
	}
}


/* Inside Page Headers */

.int-header {
	background-color: #secondaryAlt;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	margin-bottom: 20px;

	@include media($tablet) {
		margin-bottom: 40px;
		// height: 355px;
		margin-bottom: 100px;
	}
}

